body {
    display:flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    padding: 0;
    margin: 0;
}
/*This is header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.header-logo {
    width: 30px;
    height: 20px;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header-right {
    display: flex;
}
/* This is section 1*/
.section1 {
    display:flex;
    justify-content: space-around;
    padding: 25px;
    margin: 35px 0 0;
}
.section1-content {
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.awesome-subtext {
    flex-flow: wrap;
}
.order-button {
    margin-top: 15px;
}
/*This is section 2*/
.section2 {
    padding: 40px;
    margin: 40px 50px;
}
.info {
    display:flex;    
    justify-content: space-around;
    padding: 25px;
    gap: 10px;
}
.section2-pic {
    margin-bottom: 8px;
    width: 150px;
    height: 150px;
}
/*Section 3*/
.section3 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 50px;
}
.inspiration {
    width: 600px;
    text-align: center;
}
.signup {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 600px;
    padding: 20px;
    margin-top: 50px;
    gap: 8px;
}
/*Footer*/
.footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.copyright {
    display: flex;
}